@media screen and (min-width: 993px) {
  .jumbotron-isi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 60vh;
  }

  .jumbotron-isi .jumbotron-gambar {
    height: 50vh;
    width: 72vh;
    margin-left: 20px;
    background-position: center;
    margin-top: 20px;
  }

  .jumbotron-isi .jumbotron-tulisan {
    margin-top: 12vh;
    margin-left: -90px;
    margin-right: 150px;
  }

  .about-isi .about-tulisan p {
    text-align: left;
  }

  .product {
    padding-top: 10px;
  }

  .service-items {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: center;
  }

  .service-item .image-pinjaman-1{
    margin-left: 70px;
  }
  
  .service-item .image-pinjaman-2{
    margin-left: 60px;
  }
  
  .service-item .image-pinjaman-3{
    margin-left: 60px;
  }

  .service-items .service-item {
    flex: 0 0 auto;
    width: 30%;
    height: 60vh;
  }

  .service-items .service-item:last-child {
    width: 30%;
  }

  /* about us */
  .about-isi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 53vh;
  }

  .about-isi .about-image {
    height: 50vh;
    width: 72vh;
    background-position: center;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 20px;
  }

  .about-isi .about-tulisan {
    margin-top: 10vh;
    margin-right: -15px;
    margin-left: 35px;
  }

  .about-isi .about-tulisan h3{
    padding-bottom: 20px;
  }

  .about-isi .about-tulisan p {
    text-align: center;
    margin-left: 30px;
  }
  /* our team */
  .team__items {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    gap: 10px;
    margin-right: 0;
    margin-left: 0;
  }

  .team__items .team__item {
    width: 30vh;
  }

  .team__item .team__item-image {
    height: 30vh;
  }

  /* Footer */
  .footer-isi{
    padding-left: 180px;
    padding-top: 30px;
    padding-right: 80px;
  }

  .footer-isi .footer-image{
    padding-right: 70px;
  }

  .footer-tulisan ul li{
    margin-top: 5px;
    font-size: 18px;
    padding-right: 155px;
  }
}

.bg-gradient-primary {
  display: flex;
  align-items: center;
  height: 100vh;
}
