@media screen and (min-width: 768px) {
  .jumbotron {
    height: 38vh;
    background-size: 35% 180px;
    background-repeat: no-repeat;
    background-position: right center;
  }

  .jumbotron h2 {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: left;
  }

  .jumbotron p {
    margin-right: 410px;
  }

  .product {
    padding-top: 70px;
  }

  .service-items {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: center;
  }

  .service-items .service-item {
    flex: 0 0 auto;
    width: 30%;
    height: 60vh;
  }

  .service-items .service-item:last-child {
    width: 30%;
  }

  /* about us */
  .about-isi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 53vh;
  }

  .about-isi .about-image {
    height: 50vh;
    width: 72vh;
    background-position: center;
    margin-top: 25px;
  }

  .about-isi .about-tulisan {
    margin-top: 5vh;
    margin-right: 10px;
  }

  .about-isi .about-tulisan p {
    text-align: left;
  }
  /* our team */
  .team__items {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    gap: 10px;
    margin-right: 0;
    margin-left: 0;
  }

  .team__items .team__item {
    width: 30vh;
  }

  .team__item .team__item-image {
    height: 30vh;
  }

  /* .team__items .team__item {
  } */
}
