@media screen and (min-width: 480px) {
  /* 
  landing page
  */
  /* product */
  html,
  body {
    overflow-x: hidden;
  }

  .jumbotron-isi .jumbotron-gambar{
    margin-left: -10px;
  }

  .service-items {
    grid-template-columns: repeat(2, 1fr);
  }

  .product .service-item:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 40%;
  }

  /* about us */
  .about-isi .about-image {
    width: 100%;
    height: 45vh;
    margin-top: 20px;
    margin-left: -5px;
    margin-right: 15px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -20px;
  }

  /* our team */
  .team__items {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  .team__items .team__item {
    width: 40vh;
  }
}
