@media screen and (min-width: 480px) {
  /* 
  landing page
  */
  /* product */
  html,
  body {
    overflow-x: hidden;
  }

  .jumbotron-isi .jumbotron-gambar{
    margin-left: -10px;
  }

  .service-items {
    grid-template-columns: repeat(2, 1fr);
  }

  .product .service-item:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 40%;
  }

  .service-item .image-pinjaman-1{
    margin-left: 10px;
  }
  
  .service-item .image-pinjaman-2{
    margin-left: 10px;
  }
  
  .service-item .image-pinjaman-3{
    margin-left: 10px;
  }

  /* about us */
  .about-isi .about-image {
    width: 100%;
    height: 45vh;
    margin-top: 20px;
    margin-left: -5px;
    margin-right: 15px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -20px;
  }

  /* our team */
  .team__items {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  .team__items .team__item {
    width: 40vh;
  }

  /* Footer*/
  .footer-isi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
  }

  .footer-isi .footer-image {
    height: 35vh;
    width: 35vh;
    background-position: center;
    margin-top: 25px;
  }

  .footer-isi .footer-tulisan {
    margin-top: 9vh;
    padding-right: 40px;
  }

  .footer-tulisan ul li{
    padding: 5px;
    list-style-type: none;
  }

  .footer-tulisan ul li a {
    color: white;
    text-align: center;
    margin: 10px 0;
    font-size: 15px;
    text-decoration: none;
  }
}
