@import './medium.css';
@import './large.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Navbar */
.app-bar {
  background-color: #6469e7;
  display: grid;
  grid-template-columns: auto 1fr auto;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  justify-content: space-between;
}

.app-bar .app-bar__menu {
  display: flex;
  justify-content: end;
  padding-right: 10px;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  min-width: 44px;
  min-height: 44px;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 24px;
  user-select: none;
  font-family: Poppins;
  font-weight: bold;
  padding: 10px;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  right: -180px;
  width: 150px;
  transition: all 0.4s;
  padding: 8px;
  background-color: #93bfcf;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  right: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  padding: 8px;
  margin-bottom: 5px;
  min-width: 44px;
  min-height: 44px;
}

.app-bar .app-bar__navigation ul li a:hover {
  color: #27374d;
  font-weight: bold;
}

/* Jumbotron */
.jumbotron_isi {
  background-color: #e8eafe;
  background-image: url('../public/image/pinjaman.png');
  background-size: 65% 110px;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 50px;
  padding-top: 60px;
  margin-top: 51px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jumbotron_isi h2 {
  margin-top: 100px;
  padding-bottom: 20px;
  text-align: center;
}

.jumbotron_isi p {
  text-align: center;
}

.jumbotron_isi button {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #6469e7;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  font-size: 14px;
}

.jumbotron_isi button:hover {
  background-color: #4952d8;
  font-weight: bold;
}


.product {
  display: block;
  margin: 0px 2.5%;
}


.service-items {
  display: grid;
  place-items: center;
  gap: 20px;
}

.product .service-item {
  grid-template-columns: 1fr;
  background-color: #e8eafe;
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: -webkit-fill-available;
}

.product h2 {
  text-align: center;
  margin: 25px 0;
}

.product .service-item .image-pinjaman {
  background-image: url(../public/image/flat.jpg);
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  background-position: -80px, 0;
}

.product .service-item h3 {
  font-size: 24px;
}

.product .service-item p {
    font-size: 16px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.product .service-item .button_container {
  padding-top: 2.5%;
}

.product .service-item .button_container button {
  padding: 10px;
  border-radius: 20px;
  background-color: #6469e7;
  border: #6469e7;
  color: white;
  cursor: pointer;
}

/* About Us */
.about-isi {
  margin-top: 25px;
}

.about-isi .about-image {
  background-image: url(../public/image/about.jpg);
  width: 100%;
  height: 45vh;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -20px;
}

.about-isi h3 {
  text-align: center;
  margin: 10px 0;
  font-size: 26px;
}

.about-isi p {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

/* our team */
.team-isi {
  background-color: #e8eafe;
  margin-top: 25px;
  border: 1px solid black;
}

.team-isi h3 {
  text-align: center;
  font-size: 26px;
  padding-top: 15px;
  margin-bottom: 5px;
}

.team-isi .team__slogan {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 15px;
}

.team-isi .team__items {
  display: grid;
  place-items: center;
}

.team__items .team__item {
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 10px;
  width: 50vh;
}

.team__items .team__item .team__item__img-fadiya {
  background-image: url(../public/image/fadiya.jpg);
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: center;
  background-position-y: -150px;
  background-size: cover;
}

.team__items .team__item .team__item__img-wisnu {
  background-image: url(../public/image/wisnu.jpg);
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: center;
  background-position-y: -180px;
  background-size: cover;
}

.team__items .team__item .team__item__img-ivana {
  background-image: url(../public/image/ivana.jpg);
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: center;
  background-position-y: -5px;
  background-size: cover;
}

.team__items .team__item .team__item__img-rizky {
  background-image: url(../public/image/rizky.jpg);
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: center;
  background-position-y: -130px;
  background-size: cover;
}

.team__items .team__item h4 {
  font-size: 18px;
  padding: 10px;
  padding-bottom: 0;
}

.team__items .team__item p {
  font-size: 14px;
  padding-left: 10px;
  padding-top: 5px;
  margin-bottom: 20px;
}

/* Footer */
footer {
  background-color: #6469e7;
  color: #bbb;
  line-height: 1.5;
}

ul {
  list-style: none;
  padding-left: 0;
}

footer a {
  text-decoration: none;
  color: #eee;
}

a:hover {
  text-decoration: underline;
}

.ft-title {
  color: #fff;
  font-family: 'Merriweather', serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}

.container {
  flex: 1;
}

.ft-sosmed {
  padding: 0 1.875rem 1.25rem;
}

.ft-sosmed p {
  text-align: center;
  color: white;
}

.ft-sosmed-list {
  display: flex;
  justify-content: center;
  border-top: 1px white solid;
  padding-top: 1.25rem;
}

.ft-sosmed-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
  min-width: 44px;
  min-height: 44px;
  font-size: 44px;
}

.watermark {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 0px;
}
